/* Rofi config file */
configuration {
    font: "DaddyTimeMono Nerd Font 10";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

@theme "oxide"

listview {
    lines: 5;
}
